<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>New Comment</title>
</head>

<body>
  <h1>Make a new comment</h1>
  <form class="" action="/comments" method="post">
    <section>
      <label for="username">Enter Username:</label>
      <input type="text" name="username" value="" id="username" placeholder="username">
    </section>
    <section>
      <label for="comment">Enter Comment</label>
      <br>
      <textarea name="comment" rows="5" cols="30" id="comment"></textarea>
    </section>
    <button type="submit" name="button">submit</button>
  </form>
  <a href="/comments">Back to index</a>




</body>

</html>
